/* Set the cursor to a pointer for all anchor tags */
a {
  cursor: pointer;
}

/* Set the color of list items */
li {
  color: #799097;
}

/* Set the width, margin, and padding of images */
img {
  width: 100px;
  margin: 0;
  padding: 0;
}

/* Set the position of the carousel container */
.carousel-container {
  position: relative;
}

/* Set the position, alignment, transition, and z-index of the login/register container */
.login-register-container {
  position: fixed;
  top: 50%;
  right: -100%;
  transform: translate(0, -50%);
  transition: right 0.3s ease;
  z-index: 2;
}

/* Slide-in animation for the login/register container */
.slide-in {
  right: 50px;
}

/* Slide-out animation for the login/register container */
.slide-out {
  right: -100%;
}
