<carousel>
  <slide>
    <img src="../../assets/Consultation.png" alt="image of people sitting in consultation setting" style="width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/Doctor inspecting scalp.png" alt="..." style="width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/Woman smiling.png" alt="..." style="width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/Cropped consulation.png" alt="..." style="width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/Man grabbing help.png" alt="..." style="width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/Doc giving scalp shot.png" alt="..." style="width: 100%;">
  </slide>


