<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/Consultation.png" class="d-block w-100" alt=" image of people sitting in consulation setting">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Doctor inspecting scalp.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Woman smiling.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Doc giving scalp shot.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Woman stressing out and pulling scalp.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>