<div class="website-info">
    <img src="../../assets/Follicare Logo.png">
    <p>
      We are thrilled to introduce a groundbreaking platform designed exclusively for individuals dealing with hair disorders. Our app is dedicated to providing accessible and comprehensive support to help you effectively manage your hair-related concerns.
    </p>
    <p>
      At our core, we prioritize inclusivity and understand the unique challenges faced by minority communities when it comes to hair disorders. We aim to bridge the gap by offering personalized consultations and expert guidance, tailored to your specific needs.
    </p>
    <h3>Key Features of Follicare:</h3>
    <ul>
      <li>Expert Consultations</li>
      <li>Educational Resources</li>
      <li>Community Support</li>
      <li>Treatment Tracking</li>
      <li>Personalized Recommendations</li>
    </ul>
    <p>
      We are committed to making a positive impact in the lives of individuals facing hair disorders. Our goal is to empower you with the knowledge, resources, and support necessary to regain confidence and take control of your hair health.
    </p>
    <p>
      Join our community today and embark on a transformative journey towards managing your hair disorder effectively. Together, we can create a future where everyone has access to the support they need to embrace their natural beauty.
    </p>
  </div>
