<!-- Website information section -->
<div class="website-info">
  <!-- Grid container -->
  <div class="grid-container">
    <!-- Logo image grid item -->
    <div class="grid-item image">
      <img src="../../assets/Follicare Logo.png" alt="Follicare Logo">
    </div>

    <!-- Grid item with introductory paragraph -->
    <div class="grid-item">
      <p class="fade-in">We are thrilled to introduce a groundbreaking platform designed exclusively for individuals dealing with hair disorders. Our app is dedicated to providing accessible and comprehensive support to help you effectively manage your hair-related concerns.</p>
    </div>

    <!-- Grid item with paragraph about inclusivity -->
    <div class="grid-item">
      <p class="fade-in">At our core, we prioritize inclusivity and understand the unique challenges faced by minority communities when it comes to hair disorders. We aim to bridge the gap by offering personalized consultations and expert guidance, tailored to your specific needs.</p>
    </div>

    <!-- Image grid item -->
    <div class="grid-item image">
      <img src="../../assets/Man grabbing help.png" alt="Image Description">
    </div>

    <!-- Grid item with heading and list of features -->
    <div class="grid-item">
      <h3 class="fade-in">Key Features</h3>
      <ul class="fade-in features">
        <li>Expert Consultations</li>
        <li>Educational Resources</li>
        <li>Community Support</li>
        <li>Treatment Tracking</li>
        <li>Personalized Recommendations</li>
      </ul>
    </div>

    <!-- Image grid item -->
    <div class="grid-item image">
      <img src="../../assets/Doctor inspecting scalp.png" alt="Image Description">
    </div>

    <!-- Grid item with paragraph -->
    <div class="grid-item">
      <p class="fade-in">We are committed to making a positive impact in the lives of individuals facing hair disorders. Our goal is to empower you with the knowledge, resources, and support necessary to regain confidence and take control of your hair health.</p>
    </div>

    <!-- Large grid item -->
    <div class="grid-item grid-item-large">
      <p class="fade-in">Join our community today and embark on a transformative journey towards managing your hair disorder effectively. Together, we can create a future where everyone has access to the support they need to embrace their natural beauty.</p>
    </div>

    <!-- Image grid item -->
    <div class="grid-item image">
      <img src="../../assets/Woman smiling.png" alt="Image Description">
    </div>
    <!-- Image grid item -->
    <div class="grid-item image">
      <img src="../../assets/Follicare Sub Logo.png" alt="Image Description">
    </div>
  </div>
</div>
