<!-- AppComponent -->
<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-4" *ngIf="showLogin">
        <!-- Sign-up form -->
        <form (ngSubmit)="submitLoginForm()" class="card">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            <!-- Form fields -->
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" [(ngModel)]="loginData.email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="loginData.password" name="password" required>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
