

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    
  }

  .card-body {
    background: transparent;
  }

button {
    background-color: #7AC0D5;
}

button:hover {
    background-color: #797979;
}