<div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 bg-primary sidebar" [ngClass]="{ 'collapsed': isSideBarCollapsed }">
        <div class="logo" (click)="toggleSidebar()">
          <img src="../../assets/Follicare Sub Logo.png" alt="Logo">
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" [ngClass]="{ 'show': !isSideBarCollapsed}">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/substance/specialists">Specialists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/substance/resources">Resources</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
  
      <div class="col-lg-10">
        <!-- Main content of the Substance page -->
        <h1>Welcome to the Substance Page</h1>
        <router-outlet></router-outlet>
  
        <!-- Placeholder content for the main section -->
        <div>
          <h2>Main Content</h2>
          <p>This is the main content of the Substance page.</p>
          <p>You can add your custom content here.</p>
        </div>
      </div>
    </div>
  </div>
  