.grid-item {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.grid-item:nth-child(2) {
  background-color: #797979;
}

.grid-item:nth-child(3) {
  background-color: #799097;
}

.grid-item:nth-child(4) {
  background-color: #79a8b6;
}

.grid-item:nth-child(5) {
  background-color: #7ac0d5;
}
