/* Set height to 100% */
.h-100 {
  height: 100%;
}

/* Sidebar styles */
.sidebar {
  width: 15%;
  min-height: 100%;
  transition: width 0.7s;
  background-color: #7ac0d5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Collapsed sidebar styles */
.sidebar.collapsed {
  width: 7%;
}

.sidebar .navbar-nav .nav-link {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.sidebar .navbar-toggler {
  font-size: 22px;
}

/* Navbar styles */
.navbar-nav {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image styles */
img {
  width: 100px;
}

/* Hide navbar toggler on larger screens */
.navbar-toggler {
  display: none;
}

/* Main content styles */
.main-content {
  flex: 1;
  overflow-y: auto;
}

/* Media queries for responsive design */
@media (max-width: 992px) {
  .sidebar {
    width: 100%;
  }

  .sidebar.collapsed {
    width: 100%;
    transition: height 0.8s;
  }

  .navbar-toggler {
    display: block;
  }

  .collapse.show {
    display: block;
  }

  .container-fluid {
    flex-direction: column;
  }

  .sidebar.collapsed .navbar-nav {
    align-items: center;
  }
}

/* Page title styles */
.page-title {
  font-size: 28px;
  font-weight: bold;
  color: #797979; /* Brand color 1 */
  margin-top: 20px;
  text-align: center;
}
