.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .footer-container {
    /* Your footer styles */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }



