<div class="center-container">
  <h1>Welcome to Follicare</h1>
  <div class="landing-image">
    <img src="../../assets/Cropped consulation.png" alt="Follicare Image">
  </div>
  <div class="landing-cards">
    <div class="landing-card" routerLink="/main/specialists">
      <i class="fas fa-user-md fa-3x"></i>
      <h2>Find Specialists</h2>
      <p>Discover experienced hair specialists who can provide personalized consultations and expert guidance.</p>
    </div>
    <div class="landing-card" routerLink="/main/resources">
      <i class="fas fa-book fa-3x"></i>
      <h2>Explore Resources</h2>
      <p>Access a wide range of educational materials, articles, and community support related to hair disorders.</p>
    </div>
  </div>
</div>
