<div class="center-container">
    <h1>Welcome to Follicare</h1>
    <div class="landing-cards">
      <div class="landing-card" routerLink="/main/specialists">
        <img src="../../assets/Specialists-Image.png" alt="Specialists">
        <h2>Find Specialists</h2>
        <p>Discover experienced hair specialists who can provide personalized consultations and expert guidance.</p>
      </div>
      <div class="landing-card" routerLink="/main/resources">
        <img src="../../assets/Resources-Image.png" alt="Resources">
        <h2>Explore Resources</h2>
        <p>Access a wide range of educational materials, articles, and community support related to hair disorders.</p>
      </div>
    </div>
  </div>
  