<div class="container">
  <!-- Description section -->
  <div class="description">
    <p>Discover experienced hair specialists who can provide personalized consultations and expert guidance. Our specialists are trained to diagnose and treat various hair disorders, offering you the support and expertise you need to address your concerns. Start your journey towards better hair health today.</p>
  </div>

<!-- Search Form -->
<div class="center-container">
  <form (ngSubmit)="fetchSpecialists()">
    <div class="input-wrapper">
      <input type="text" [(ngModel)]="specialty" name="specialty" placeholder="Specialty">
    </div>
    <div class="input-wrapper">
      <input type="text" [(ngModel)]="zipCode" name="zipCode" placeholder="Zip Code">
    </div>
    <button type="submit">Search</button>
  </form>
</div>

<!-- Specialists Grid -->
<div class="specialists-grid">
  <div *ngFor="let specialist of specialists" class="specialist-card">
    <h2>{{ specialist.fullName }}</h2>
    <h3>{{ specialist.title }}</h3>
    <p><strong>Specialty:</strong> {{ specialist.specialty }}</p>
    <p><strong>Location:</strong> {{ specialist.zipCode }}</p>
    <p><strong>Email:</strong> {{ specialist.email }}</p>
    <p><strong>Phone Number:</strong> {{ specialist.phoneNumber }}</p>
  </div>
</div>
