.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    margin: 0 auto;
  }

button {
    background-color: #7AC0D5;
}

button:hover {
    background-color: #797979;
}

